{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articletaggeds list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Url</th>
            <th>Text</th>
            <th>Created</th>
            <th>Published</th>
            <th>Updated</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for articleTagged in articleTaggeds %}
            <tr>
                <td><a href="{{ path('articletagged_show', { 'url': articleTagged.url }) }}">{{ articleTagged.id }}</a>
                </td>
                <td>{{ articleTagged.title }}</td>
                <td>{{ articleTagged.url }}</td>
                <td>{{ articleTagged.text }}</td>
                <td>{% if articleTagged.created %}{{ articleTagged.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if articleTagged.published %}{{ articleTagged.published|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if articleTagged.updated %}{{ articleTagged.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% for tag in articleTagged.tags %}
                        <a href="{{ path('articletagged_tag_show', {'tag' : tag.name}) }}">{{ tag.name }}</a>
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('articletagged_show', { 'url': articleTagged.url }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('articletagged_edit', { 'id': articleTagged.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('articletagged_new') }}">Create a new articleTagged</a>
        </li>
    </ul>
{% endblock %}
