{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articletagged</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ articleTagged.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ articleTagged.title }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ articleTagged.url }}</td>
        </tr>
        <tr>
            <th>Text</th>
            <td>{{ articleTagged.text }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{% if articleTagged.created %}{{ articleTagged.created|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Published</th>
            <td>{% if articleTagged.published %}{{ articleTagged.published|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{% if articleTagged.updated %}{{ articleTagged.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>
                {% for tag in articleTagged.tags %}
                    <a href="{{ path('articletagged_tag_show', {'tag' : tag.name}) }}">{{ tag.name }}</a>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('articletagged_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('articletagged_edit', { 'id': articleTagged.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
