{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article by tag list</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Url</th>
            <th>Text</th>
            <th>Created</th>
            <th>Published</th>
            <th>Updated</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('articletagged_show', { 'url': article.url }) }}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.url }}</td>
                <td>{{ article.text }}</td>
                <td>{% if article.created %}{{ article.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if article.published %}{{ article.published|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if article.updated %}{{ article.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% for tag in article.tags %}
                        <a href="{{ path('articletagged_tag_show', {'tag' : tag.name}) }}">{{ tag.name }}</a>
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('articletagged_show', { 'url': article.url }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('articletagged_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
