{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articleauthors list</h1>

    <table>
        <thead>
        <tr>
            <th>Author</th>
            <th>Site</th>
            <th>Id</th>
            <th>Title</th>
            <th>Url</th>
            <th>Text</th>
            <th>Created</th>
            <th>Published</th>
            <th>Updated</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for articleAuthor in articleAuthors %}
            <tr>
                <td>
                    <a href="{{ path('articleauthors_show', { 'url': articleAuthor.url }) }}">{{ articleAuthor.author }}</a>
                </td>
                <td>{{ articleAuthor.site }}</td>
                <td>{{ articleAuthor.id }}</td>
                <td>{{ articleAuthor.title }}</td>
                <td>{{ articleAuthor.url }}</td>
                <td>{{ articleAuthor.text }}</td>
                <td>{% if articleAuthor.created %}{{ articleAuthor.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if articleAuthor.published %}{{ articleAuthor.published|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if articleAuthor.updated %}{{ articleAuthor.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('articleauthors_show', { 'url': articleAuthor.url }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('articleauthors_edit', { 'id': articleAuthor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('articleauthors_new') }}">Create a new articleAuthor</a>
        </li>
    </ul>
{% endblock %}
