{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articleauthor</h1>

    <table>
        <tbody>
        <tr>
            <th>Author</th>
            <td>{{ articleAuthor.author }}</td>
        </tr>
        <tr>
            <th>Site</th>
            <td>{{ articleAuthor.site }}</td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ articleAuthor.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ articleAuthor.title }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ articleAuthor.url }}</td>
        </tr>
        <tr>
            <th>Text</th>
            <td>{{ articleAuthor.text }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{% if articleAuthor.created %}{{ articleAuthor.created|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Published</th>
            <td>{% if articleAuthor.published %}{{ articleAuthor.published|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{% if articleAuthor.updated %}{{ articleAuthor.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('articleauthors_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('articleauthors_edit', { 'id': articleAuthor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
