{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles list</h1>
    <table>
        <thead>
        <tr>
            <th><a href="{{ path('articletagged_index') }}">Standard articles</a></th>
        </tr>
        <tr>
            <th><a href="{{ path('articleauthors_index') }}">Authors articles</a></th>
        </tr>
        </thead>
    </table>
{% endblock %}
